@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe Database Application</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this project</h2>
        <p>
            The intention of this project is to be able to learn about relationships between multiple database tables in
            Linq and how to generate them in ASP.NET
        </p>
    </div>
</div>